.grid-7 input[type='submit']:hover {
    background-color: #ff1cd2;
    border-color: white !important;
}

.grid-7 input[type='submit']{

}

.grid-1 {
    grid-area: grid-1
}

.grid-2 {
    grid-area: grid-2;
}

.grid-3 {
    grid-area: grid-3
}

.grid-4 {
    grid-area: grid-4
}

.grid-5 {
    grid-area: grid-5
}

.grid-6 {
    grid-area: grid-6
}

.grid-7 {
    grid-area: grid-7
}

.grid-8 {
    grid-area: grid-8
}

.grid-9 {
    grid-area: grid-9
}

.grid-10 {
    grid-area: grid-10
}

.grid-11 {
    grid-area: grid-11
}

.grid-12 {
    grid-area: grid-12
}

.grid-13 {
    grid-area: grid-13
}


.grid-container-1 {
    display: grid;
    grid-template-areas: 'grid-1 grid-1 grid-1 grid-2 grid-2 grid-2'
                         'grid-3 grid-3 grid-3 grid-4 grid-4 grid-4'
                         'grid-5 grid-5 grid-5 grid-6 grid-6 grid-6'
                         'grid-7 grid-7 grid-7 grid-8 grid-8 grid-8'
                         'grid-9 grid-9 grid-9 grid-10 grid-10 grid-10'
                         'grid-11 grid-11 grid-11 grid-12 grid-12 grid-12'
                         'grid grid grid grid-13 grid-13 grid-13';
                         grid-gap: 20px;
    
}

.grid-12 textarea:focus {
    color: black;
}

.grid-12  textarea{
    color:black !important;
}

.collapse ul li{
    border-radius: 10px;
}



